destinationFolder=/usr/local/MATLAB/{{ matlab_version }}/
fileInstallationKey={{ file_installation_key }}
agreeToLicense=Yes
outputFile=/tmp/mathworks_root.log
mode=silent
licensePath=/usr/local/MATLAB/{{ matlab_version }}/license.dat